@import './variables.scss';
@import './fonts/tiempos-fine.scss';

:root {
  font-family: Tiempos Fine light, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  background-color: $background-main;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  @include green-text;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  
  &__option {
    padding: 0px 12px 0px 12px;
  }

  
  #title {
    padding: 0;
    margin-right: auto;
  } 
}

#vertical-text {
  @include green-text;
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  position: relative;
  left: -8px;
}