@import './variables.scss';
@import './fonts/tiempos.scss';
@import './fonts/calibre.scss';


:root {
  font-family: Tiempos Fine Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  
  --calibre-regular: Calibre Regular;

  background-color: $background-main;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: $page-padding;
}

a {
  @include green-text;
}

.nav-section {
  position: fixed;
  display: flexbox;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}

.nav-container {
  @include page-padding;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  justify-content: flex-end;
  
  &__option {
    padding: 0px 12px 0px 12px;
    @include red-bg;
  }

  
  #title {
    padding: 0;
    margin-right: auto;

    h1 {
      margin: 0px;
    }
  } 
}

.vertical-text {
  @include green-text;
  padding-left: $page-padding;
  margin-top: calc($page-padding * -0.88);
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  position: relative;
  left: -8px;

  p {
    margin: 0;
  }

  h2 {
    margin: 0px;
    font-size: inherit;
  }

  &__selection {
    padding-top: 16px;
    @include fade-animation;
  }
}

#cv-button {
  @include green-text;
  margin-top: 18px;
  padding: 0;
  font-size: 0.86rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  text-decoration: underline;
}

#cv-button:hover {
  background-color: red;
}

.icons-container {
  display: flex;
  justify-content: start;
  margin: 25px;
  align-items: center;
  margin-left: -1px;
  margin-bottom: calc(16.512px - 6.77px);
}

.link-icon {
  width: 32px;
  aspect-ratio: 1/1;
  padding: 0px 0px 0px 0px;

  &__svg {
    width: 28px;
  }
}

.link-icon__svg:hover {
  background-color: red;
}

.views-container {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 1;
  z-index: -1;
  width: 100%;
  height: auto;
  font-size: 0.86rem;

  .section-container {
    
    &__about {
      top: 0px;
      z-index: -4;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100vh;

      &__content {
        position: fixed;
        top: 23%;
        left: 25%;
        max-width: 420px;
        min-width: 200px;
        @include fade-animation;
        // here's the styling for the content boxy bit!!
        // background-color: red;
        font-family: var(--calibre-regular);
        border-left: $text-main solid 1px;
        padding-left: 10px;




      }
    }

    &__work {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 0px;
      align-items: center;
      z-index: -2;
      width: 100%;
      height: 100vh;

      &__gradient {
        position: absolute;
        top: -20vh;
        width: 100%;
        height: 145px;
        background-image: linear-gradient(to bottom, transparent, $background-main);
      }

      &__background {
        position: sticky;
        display: flex;
        justify-content: center;
        background-color: $background-main;
        height: 100%;
        width: 100%;
      }

      &__content {
        position: sticky;
        display: flex;
        justify-content: center;
        top: 0;
        width: 100px;
        height: 100px;
        background-color: orange;
        transform: translateY(100%);
        @include fade-animation;
      }
    }

    &__contact {
      position: relative;
      display: flex;
      z-index: -2;
      justify-content: center;
      background-color: yellow;
      width: 100%;
      height: 100vh;

      &__content {
        @include fade-animation;
      }
    }
  }
}