@font-face {
  font-family: "Calibre Black";
  src: url('/fonts/calibre/CalibreBlack.otf') format("opentype");
}

@font-face {
  font-family: "Calibre Black Italic";
  src: url('/fonts/calibre/CalibreBlackItalic.otf') format("opentype");
}

@font-face {
  font-family: "Calibre Bold";
  src: url('/fonts/calibre/CalibreBold.otf') format("opentype");
}

@font-face {
  font-family: "Calibre Bold Italic";
  src: url('/fonts/calibre/CalibreBoldItalic.otf') format("opentype");
}

@font-face {
  font-family: "Calibre Regular";
  src: url('/fonts/calibre/CalibreRegular.otf') format("opentype");
}

@font-face {
  font-family: "Calibre Regular Italic";
  src: url('/fonts/calibre/CalibreRegularItalic.otf') format("opentype");
}