@font-face {
  font-family: "Tiempos Fine Light";
  src: url('/fonts/tiempos/TiemposFine-Light.otf') format("opentype");
}

@font-face {
  font-family: "Tiempos Fine Light Italic";
  src: url('/fonts/tiempos/TiemposFine-LightItalic.otf') format("opentype");
}

@font-face {
  font-family: "Tiempos Fine Regular";
  src: url('/fonts/tiempos/TiemposFine-Regular.otf') format("opentype");
}

@font-face {
  font-family: "Tiempos Fine Regular Italic";
  src: url('/fonts/tiempos/TiemposFine-RegularItalic.otf') format("opentype");
}

@font-face {
  font-family: "Tiempos Fine Medium";
  src: url('/fonts/tiempos/TiemposFine-Medium.otf') format("opentype");
}

@font-face {
  font-family: "Tiempos Fine Medium Italic";
  src: url('/fonts/tiempos/TiemposFine-MediumItalic.otf') format("opentype");
}

@font-face {
  font-family: "Tiempos Fine Semibold";
  src: url('/fonts/tiempos/TiemposFine-Semibold.otf') format("opentype");
}

@font-face {
  font-family: "Tiempos Fine SemiBold Italic";
  src: url('/fonts/tiempos/TiemposFine-SemiBoldItalic.otf') format("opentype");
}

@font-face {
  font-family: "Tiempos Fine Bold";
  src: url('/fonts/tiempos/TiemposFine-Bold.otf') format("opentype");
}

@font-face {
  font-family: "Tiempos Fine Bold Italic";
  src: url('/fonts/tiempos/TiemposFine-BoldItalic.otf') format("opentype");
}

@font-face {
  font-family: "Tiempos Fine Black";
  src: url('/fonts/tiempos/TiemposFine-Black.otf') format("opentype");
}

@font-face {
  font-family: "Tiempos Fine Black Italic";
  src: url('/fonts/tiempos/TiemposFine-BlackItalic.otf') format("opentype");
}